{% extends "base.html" %}

{% block content %}
    <h1>Available ports</h1>

    <div class="d-flex align-items-center flex-column">
        {% for port in ports %}
            <form action="/port/{{ port.id }}" method="get" class="w-50 my-2">
                {% if port.pirate %}
                    <button type="submit" class="btn btn-primary w-100">☠{{ port.name }}☠</button>
                {% else %}
                    <button type="submit" class="btn btn-primary w-100">{{ port.name }}</button>
                {% endif %}
            </form>
            <br></br>
        {% endfor %}
    </div>

    <div class="fixed-bottom d-flex justify-content-center mb-3">
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back</a>
    </div>
{% endblock %}