{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">The port of {{ port.name }}</h1>

    <p class="text-center">Transaction for group:</p>
    <div class="d-flex flex-column align-items-center">
        {% for crew in crews %}
            <form action="{{ url_for('crew_operation', port_id=port.id, crew_id=crew.id) }}" method="GET" class="w-50 my-2">
                <button type="submit" class="btn btn-primary w-100">{{ crew.name }}</button>
            </form>
        {% endfor %}
    </div>
{% endblock %}
